*.vpk
*.vpcf_c
*.vsnd_c
*.vsndevts_c
*.vanim_c
*.vagrp_c
*.bin
*.pad
game/dota_addons/nwu/scripts/npc/npc_abilities_custom.txt
game/dota_addons/nwu/scripts/npc/npc_heroes_custom.txt
game/dota_addons/nwu/scripts/npc/npc_items_custom.txt
game/dota_addons/nwu/scripts/npc/npc_units_custom.txt
